@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';

// .container {
//   display: flex;display

displaydisplay

displaydisplay

displaydisplay

displaydisplay

displaydisplay
//   flex-direction: column;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplayflex-directiondisplaydisplaydisplaydisplaydisplaydisplaydisplaydisplayflex-directiondisplaydisplaydisplaydisplaydisplaydisplayflex-directiondisplaydisplaydisplaydisplaydisplaydisplayflex-directiondisplaydisplaydisplaydisplayflex-directiondisplaydisplaydisplaydisplayflex-directiondisplaydisplayflex-direction

displaydisplayflex-directionflex-direction

flex-directionflex-direction
//   gap: 8px;displaydisplayflex-directionflex-directionflex-directionflex-directiongapdisplaydisplayflex-directionflex-directionflex-directionflex-directiongapdisplaydisplayflex-directionflex-directionflex-directionflex-directiongapdisplaydisplayflex-directionflex-directionflex-directionflex-directiongapdisplaydisplayflex-directionflex-directionflex-directionflex-directiongapdisplaydisplayflex-directionflex-directionflex-directionflex-directiongapflex-directionflex-directiongapflex-directionflex-directiongapgapgapgap

.reviewInput {
  width: 100%;
  height: auto;
  min-height: 120px;
  padding: 16px 0;
  overflow: hidden;

  font-size: $textMedium;
  font-weight: $medium;
  color: $inputTextColor;
  letter-spacing: -0.025em;

  resize: none;

  background-color: transparent;
  border: 1.5px solid transparent;

  transition: border 0.1s;

  &::placeholder {
    font-size: $placeholderSize;
    font-weight: $medium;
    color: $placeholderColor;
  }

  &:focus {
    outline: none;
  }

  &:hover {
    border: 1.5px solid rgb(255 111 0 / 30%);
    border-radius: $radiusSmall;
  }

  &:focus {
    border: 1.5px solid $primaryOrange;
    border-radius: $radiusSmall;
  }
}

// }

.label {
  font-size: $textMedium;
  font-weight: $medium;
  color: $inputTextColor;
  letter-spacing: -0.025em;
}
