@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/mixins/index.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.inputBox {
  width: 100%;

  box-sizing: border-box;

  padding: 16px 0;

  background-color: transparent;

  color: $inputTextColor;
  font-size: $textMedium;
  font-weight: $medium;
  letter-spacing: -0.025em;

  border: none;
  border-bottom: 1px solid $inputBorderColor;

  &::placeholder {
    color: $placeholderColor;
    font-size: $placeholderSize;
    font-weight: $medium;
  }
}

.label {
  color: $inputTextColor;
  font-size: $textMedium;
  font-weight: $medium;
  letter-spacing: -0.025em;
}

.errorMessage {
  color: $red600;
  font-size: $textSmall;
  font-weight: $medium;
  letter-spacing: -0.025em;
}
