.header {
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imageWrapper {
  position: relative;

  width: 100%;
  height: 246px;
}

.content {
  padding: 24px;
}

.contentHeader {
  color: #747474;
  display: flex;
  justify-content: space-between;
  padding-bottom: 18px;
}

.review {
  color: #5c5c5c;
  font-size: large;
}

.storeName {
  color: #444444;
  font-size: xx-large;
  padding-bottom: 4px;
}

.address {
  font-size: small;
  padding-bottom: 18px;
}

.menuName {
  font-size: medium;
  padding-bottom: 4px;
}

.priceBox {
  display: flex;
  align-items: center;
}

.priceImage {
  background-color: aqua;
  width: 14px;
  height: 14px;
}
