@import url('https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css');
@import '@styles/mixins/index.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: $bgWhite;

  padding-bottom: 80px;

  .contentWrapper {
    padding: 24px;

    @include flexColumnStart;
    gap: 24px;

    .postInfoArea {
      width: 100%;

      @include flexColumnStart;
      gap: 12px;

      .postHeader {
        width: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;

        .storeInfo {
          @include flexColumnStart;
          gap: 6px;

          .storeName {
            color: $textTitleGray;
            font-size: 24px;
            font-weight: $bold;
          }
          .address {
            color: $textSub-content;
            font-size: $textMedium;
            font-weight: $regular;
            letter-spacing: 0.025em;
          }
        }
      }
      .menuInfoArea {
        @include flexColumnStart;
        gap: 8px;

        .menuName {
          color: $textTitleGray;
          font-size: $textLarge;
          font-weight: $semiBold;
        }

        .price {
          color: $textSub-content;
          font-size: $textMedium;
          font-weight: $medium;
          letter-spacing: 0.025em;
        }
      }
    }

    .review {
      color: $textContent;
      font-size: $textLarge;
      font-weight: $medium;
      line-height: 140%;
      letter-spacing: 0.025em;
    }
  }
}
