@import 'https://cdn.jsdelivr.net/gh/toss/tossface/dist/tossface.css';
@import '@styles/mixins/index';
@import '@styles/variables/colors';
@import '@styles/variables/fontWeight';
@import '@styles/variables/textSize';

.container {
  display: flex;

  flex-direction: column;

  justify-content: center;

  padding-bottom: 80px;

  background-color: $bgWhite;

  .contentWrapper {
    gap: 40px;

    padding: 24px;

    @include flexColumnStart;

    .postInfoArea {
      gap: 12px;

      width: 100%;

      @include flexColumnStart;

      .postHeader {
        display: flex;

        align-items: center;
        justify-content: space-between;

        width: 100%;

        .storeInfo {
          @include flexColumnStart;

          gap: 6px;

          .storeName {
            font-size: 24px;
            font-weight: $bold;
            color: $textTitleGray;
          }

          .address {
            font-size: $textMedium;
            font-weight: $regular;
            color: $textSub-content;
            letter-spacing: 0.025em;
          }
        }
      }

      .menuInfoArea {
        @include flexColumnStart;

        gap: 8px;

        .menuName {
          font-size: $textLarge;
          font-weight: $semiBold;
          color: $textTitleGray;
        }

        .price {
          font-size: $textMedium;
          font-weight: $medium;
          color: $textSub-content;
          letter-spacing: 0.025em;
        }
      }
    }

    .review {
      font-size: $textLarge;
      font-weight: $medium;
      line-height: 140%;
      color: $textContent;
      letter-spacing: 0.025em;
    }
  }
}
