.entryPageContainer {
  margin-top: 20px;

  background-color: pink;

  .entryPageHeaderWrapper {
    display: flex;

    flex-direction: column;

    gap: 16px;

    align-items: center;
    justify-content: center;

    width: 100%;

    .title {
      margin: 0;

      font-size: 16px;
    }

    .joinInfoWrapper {
      display: flex;

      flex-direction: column;

      gap: 16px;

      align-items: center;
      justify-content: center;
    }
  }
}
