@import '@styles/mixins/index';
@import '@styles/variables/textSize';

.container {
  gap: 16px;

  width: 100%;

  @include flexColumnStart;

  .titleWrapper {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;

    .allPostsAnchor {
      font-size: $textSmall;
      color: $textSub-content;
    }
  }

  .postsWrapper {
    display: flex;

    gap: 12px;

    width: 100%;

    @include Scroll;

    .noPostsText {
      font-size: $textMedium;
      color: $textSub-content;
    }
  }
}
