@import '@styles/variables/textSize';
@import '@styles/variables/fontWeight';
@import '@styles/variables/colors';
@import '@styles/variables/radius';
@import '@styles/mixins/index';

.container {
  position: relative;

  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100dvh;

  background-color: #f5f5f5;

  .streamerVideoWrapper {
    width: 100%;
    height: 100dvh;
    overflow: hidden;
  }

  .chatBoxContianer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;

    flex-direction: column;

    justify-content: flex-end;

    height: 30%;

    background: linear-gradient(
      to top,
      rgb(0 0 0 / 50%) 0%,
      transparent 100%
    );
    backdrop-filter: blur(3px);
    border-top: 1px solid #e0e0e0;

    -webkit-mask-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 100%) 30%
    );
    mask-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0%) 0%,
      rgb(0 0 0 / 100%) 30%
    );

    .chatBoxWrapper {
      @include flexColumnStart;

      gap: 10px;

      padding: 0 24px;
      overflow: auto;

      .chatArea {
        position: relative;

        gap: 10px;

        width: 100%;

        @include flexRowStart;

        .userImg {
          position: absolute;
          top: 2px;
          left: 3px;

          line-height: 0;

          background-color: pink;
          border: 1px solid $white;
          border-radius: 50%;
        }

        .msgArea {
          @include flexColumnStart;

          gap: 4px;

          margin-left: 40px;
          overflow-y: auto;

          .userName {
            font-size: $textMedium;
            font-weight: $medium;
            color: $white;
          }

          .msg {
            font-size: $textSmall;
            color: $white;
          }
        }
      }
    }
  }

  .chatInputContainer {
    padding: 12px 24px 16px;

    background-color: transparent;

    .chatInputWrapper {
      @include flexCenter;

      gap: 8px;

      .chatInput {
        flex: 1;

        padding: 10px;

        color: $white;

        background-color: rgb(0 0 0 / 30%);
        border: 1px solid #f0f0f0be;
        border-radius: 5px;
        box-shadow: 0 0 5px 0 rgb(0 0 0 / 10%);

        &::placeholder {
          font-size: $textMedium;
          font-weight: $medium;
          color: #f0f0f0be;
        }
      }

      .msgSendBtn {
        width: 40px;

        cursor: pointer;

        background-color: transparent;
        border: none;
      }
    }
  }
}

// /* Frame 114 */

// /* Auto layout */
// display: flex;displaydisplaydisplaydisplaydisplaydisplaydisplaydisplay
// flex-direction: row;flex-directionflex-directionflex-directionflex-directionflex-directionflex-directionflex-directionflex-direction
// align-items: flex-start;align-itemsalign-itemsalign-itemsalign-itemsalign-itemsalign-itemsalign-itemsalign-items
// padding: 7.26486px;paddingpaddingpaddingpaddingpaddingpaddingpaddingpadding
// gap: 7.26px;gapgapgapgapgapgapgapgap

// width: 37.78px;widthwidthwidthwidthwidthwidthwidthwidth
// height: 26.88px;heightheightheightheightheightheightheightheight

// background: linear-gradient(90deg, #EF5F00 -0.53%, #E8A700 100.06%);backgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackgroundbackground
// border-radius: 3.84px;border-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radiusborder-radius

// /* Inside auto layout */
// flex: none;flexflexflexflexflexflexflexflex
// order: 0;orderorderorderorderorderorderorderorder
// flex-grow: 0;flex-growflex-growflex-growflex-growflex-growflex-growflex-growflex-grow
