@import '@styles/mixins/index.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';

.votableCardsContainer {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  row-gap: 16px;
  column-gap: 12px;

  .votableStoreCardContainer {
    opacity: 0.65;

    .voteWrapperBtn {
      gap: 12px;

      width: 100%;
      padding: 0;

      background-color: transparent;

      @include flexColumnStart;
    }

    .storeInfoArea {
      @include flexColumnStart;

      gap: 8px;

      .storeName {
        font-size: $textMedium;
        font-weight: $semiBold;
        color: $textTitleGray;
      }

      .menuName {
        font-size: $textSmall;
        font-weight: $regular;
        color: $textSub-content;
      }
    }
  }
}
