@import '@/styles/variables/colors.scss';

@mixin button-styles($background, $color, $border) {
  width: 100%;
  max-width: 300px;
  padding: 1rem;
  margin: 1rem 0;

  font-size: 1.2rem;
  color: $color;

  cursor: pointer;

  background-color: $background;
  border: $border;
  border-radius: 5px;

  &:hover {
    color: $white;

    background-color: $btnHover;
  }
}

.container {
  display: flex;

  flex-direction: column;

  align-items: center;
  justify-content: center;

  min-height: 100vh;

  text-align: center;

  background-color: $bgColor;

  .logo {
    margin-bottom: 2rem;
  }

  h1 {
    margin: 0;

    font-size: 2rem;
    font-weight: bold;
    color: $primaryOrange;
  }

  p {
    margin: 0 0 2rem;

    font-weight: bold;
    color: $textContent;
  }

  .button {
    @include button-styles($primaryOrange, $white, none);
  }

  .buttonOutline {
    @include button-styles($btnSub, $primaryOrange, 2px solid $primaryOrange);
  }
}
