:root {
  --mainBgColor: #ffffff;
  --mainBorderColor: #efefef;
  --bgColor: #fffaf3;
}

body {
  font-family:
    'Pretendard Variable',
    Pretendard,
    Roboto,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    'Helvetica Neue',
    'Segoe UI',
    'Apple SD Gothic Neo',
    'Noto Sans KR',
    'Malgun Gothic',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    sans-serif;

  width: 100dvw;
  height: 100dvh;

  background-color: var(--bgColor);
}
