@import '@/styles/variables/colors.scss';
@import '@/styles/variables/radius.scss';
@import '@/styles/variables/textSize.scss';
@import '@/styles/variables/zIndex.scss';

.container {
  width: 100%;

  margin: 32px auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background-color: $bgWhite;
}

.inputBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;

  label {
    font-size: $textMedium;
    font-weight: 500;
    color: $gray800;
    margin-bottom: 8px;
  }

  input {
    width: 100%;
    height: 56px;
    padding: 0 24px;
    border: 1px solid $border;
    border-radius: 8px;
    background-color: #ece6d9;
    font-size: $textMedium;
    font-weight: 500;
    color: #979797;
    box-sizing: border-box; // 이 요소에만 box-sizing 적용

    &:focus {
      border-color: $primaryOrange;
    }
  }
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 12px 18px;
  position: relative;

  .backButton {
    position: absolute;
    left: 18px;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-size: $textTitle;
    font-weight: 600;
    color: $gray800;
  }
}

.form {
  width: 88%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  box-sizing: border-box;

  .label {
    font-size: $textMedium;
    font-weight: 500;
    color: $gray800;
    margin-bottom: 8px;
  }

  .input {
    width: 100%;
    height: 56px;
    padding: 0 24px;
    border: 1px solid $primaryOrange;
    border-radius: 8px;
    background-color: #ece6d9;
    font-size: $textMedium;
    font-weight: 500;
    color: #979797;
    box-sizing: border-box;
  }

  .signupButton {
    width: 100%;
    height: 56px;
    margin-top: 20px;
    background-color: $primaryOrange;
    border: none;
    border-radius: $radiusMedium;
    color: #ffffff;
    font-size: $textLarge;
    font-weight: 600;
    cursor: pointer;
    box-sizing: border-box;
  }
}

.footer {
  font-size: $textMedium;
  font-weight: 500;
  color: $gray800;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.loginLink {
  color: $primaryOrange;
  text-decoration: none;
}

.error {
  font-weight: 500;
  color: red;
  margin-top: 8px;
  text-align: center;
}

.message {
  font-size: $textMedium;
  font-weight: 500;
  color: $gray800;
  text-align: center;
  margin-top: 40px;
}
