@import '@styles/variables/colors.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';

.votedStoreCardWrapper {
  position: relative;

  display: flex;

  align-items: center;
  justify-content: space-between;

  width: 100%;
  height: 56px;

  .storeName {
    flex: 1;

    font-size: $textMedium;
    font-weight: $medium;
    color: $textTitleColor;
  }

  .removeBtn {
    position: absolute;
    top: 0;
    left: -12px;

    color: $white;

    background-color: $red700;
    border-radius: 50%;
  }
}
