@import '@/styles/variables/radius.scss';
@import '@/styles/variables/textSize.scss';
@import '@/styles/variables/zIndex.scss';
@import '@/styles/variables/fontWeight.scss';
@import '@/styles/mixins/index.scss';

.addVoteContainer {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background: $bgWhite;

  .top {
    position: relative;
    width: 100%;

    .map {
      position: relative;

      width: 100%;
      height: 480px;
    }

    .userContainer {
      position: absolute;
      z-index: 1;
      bottom: 64px;
      left: 24px;

      width: auto;

      @include flexCenter;
      gap: 16px;
    }
  }

  .bottom {
    position: absolute;
    z-index: 1;
    top: 424px;
    left: 0;
    right: 0;

    padding: 24px 24px 152px 24px;

    @include flexColumnStart;
    gap: 24px;

    background-color: $white;

    border-radius: 24px 24px 0;

    .navUpperBtnContainer {
      position: fixed;
      z-index: $footer;
      bottom: 0;
      left: 0;
      right: 0;

      max-width: calc(410px - 48px);
      height: 60px;

      margin: 0 auto 60px;
      padding: 16px 24px 0 24px;

      display: flex;
      justify-content: space-between;
      gap: 20px;

      background-color: $white;

      .startVoteBtn {
        width: 100%;
        height: 48px;
        background: $primaryOrange;
        border: none;
        border-radius: 8px;

        color: $white;
        font-size: $textLarge;
        font-weight: $semiBold;
        letter-spacing: -0.025em;
      }

      .addVoteListBtn {
        width: 100%;
        height: 48px;
        background: $white;
        border: 1px solid $primaryOrange;
        border-radius: 8px;

        color: $primaryOrange;
        font-size: $textLarge;
        font-weight: $semiBold;
        letter-spacing: -0.025em;
      }
    }

    .votedStoresWrapper {
      @include flexColumnStart;
      gap: 16px;

      width: 100%;
    }
  }
}

/* [befroe 개표] */
.startVoteContainer {
  background-color: $white;

  .startVoteWrapper {
    padding: 40px 24px 140px 24px;
  }
}

/* 투표 종료 (우승 가게 페이지) */

.winStoreCardAnchor {
  width: 100%;
}

.endVoteContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: $bgBrown;

  .top {
    height: 200px;
    background-color: $bgBrown;

    @include flexCenter;

    .winningMsgArea {
      @include flexCenter;
      gap: 8px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    padding: 24px 24px 80px 24px;

    background-color: $white;

    border-radius: 32px 32px 0 0;

    .endVoteWrapper {
      @include flexColumnCenter;
      gap: 4px;

      // padding: 24px 24px 0 24px;

      border-radius: 24px 24px 0;
    }
  }
}

.winStoreCardContainer {
  width: 100%;

  @include flexColumnStart;
  gap: 12px;

  .titleArea {
    @include flexColumnStart;
    gap: 8px;

    .storeName {
      color: $textTitleColor;
      font-size: $textTitle;
      font-weight: $bold;
      line-height: 150%;
    }

    .menuName {
      color: $textTitleGray;
      font-size: $textLarge;
      font-weight: $medium;
      line-height: 150%;
    }
  }
}

/* nav bar 위의 button */
.navUpperBtnContainer {
  position: fixed;
  z-index: $footer;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: calc(410px - 48px);
  height: 60px;

  margin: 0 auto 60px;
  padding: 16px 24px 0 24px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  background-color: $white;

  .myVoteDoneBtn {
    width: 100%;
    height: 48px;
    background: $primaryOrange;
    border: none;
    border-radius: 8px;

    color: $white;
    font-size: $textLarge;
    font-weight: $semiBold;
    letter-spacing: -0.025em;
  }
}

.resultHeaderContainer {
  position: sticky;

  padding: 0 24px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bgBrown;

  .logoTitle {
    color: $primaryOrange;
    font-family: 'NATS', sans-serif;
    font-size: $textTitle;
    font-weight: $regular;
  }

  .navBtnArea {
    @include flexCenter;
    gap: 16px;
  }
}
