@import '@styles/variables/colors';
@import '@styles/variables/radius';
@import '@styles/variables/textSize';
@import '@styles/variables/fontWeight';
@import '@styles/variables/zIndex';
@import '@styles/mixins/index';

.addVoteContainer {
  position: relative;

  display: flex;

  flex-direction: column;

  width: 100%;
  height: 100%;

  background: $bgWhite;

  .top {
    position: relative;

    width: 100%;

    .map {
      position: relative;

      width: 100%;
      height: 480px;
    }

    .userContainer {
      position: absolute;
      bottom: 64px;
      left: 24px;
      z-index: 1;

      gap: 16px;

      width: auto;

      @include flexCenter;
    }
  }

  .bottom {
    position: absolute;
    top: 424px;
    right: 0;
    left: 0;
    z-index: 1;

    gap: 24px;

    padding: 24px 24px 152px;

    background-color: $white;
    border-radius: 24px 24px 0;

    @include flexColumnStart;

    .navUpperBtnContainer {
      position: fixed;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: $footer;

      display: flex;

      gap: 20px;

      justify-content: space-between;

      max-width: calc(410px - 48px);
      height: 60px;
      padding: 16px 24px 0;
      margin: 0 auto 60px;

      background-color: $white;

      .startVoteBtn {
        width: 100%;
        height: 48px;

        font-size: $textLarge;
        font-weight: $semiBold;
        color: $white;
        letter-spacing: -0.025em;

        background: $primaryOrange;
        border: none;
        border-radius: 8px;
      }

      .addVoteListBtn {
        width: 100%;
        height: 48px;

        font-size: $textLarge;
        font-weight: $semiBold;
        color: $primaryOrange;
        letter-spacing: -0.025em;

        background: $white;
        border: 1px solid $primaryOrange;
        border-radius: 8px;
      }
    }

    .votedStoresWrapper {
      @include flexColumnStart;

      gap: 16px;

      width: 100%;
    }
  }
}

/* [befroe 개표] */
.startVoteContainer {
  gap: 24px;

  background-color: $white;

  @include flexColumnStart;

  .userContainer {
    gap: 8px;

    width: auto;
    padding: 0 24px;

    @include flexRowStart;

    .votingUsers {
      display: flex;

      flex-direction: column;

      gap: 4px;

      align-items: center;
      justify-content: flex-end;

      width: 60px;
      height: 106px;
    }
  }

  .startVoteWrapper {
    width: calc(100% - 48px);
    padding: 0 24px 140px;
  }
}

/* 투표 종료 (우승 가게 페이지) */

.winStoreCardAnchor {
  width: 100%;
}

.endVoteContainer {
  display: flex;

  flex-direction: column;

  gap: 20px;

  background-color: $bgBrown;

  .top {
    height: 200px;

    background-color: $bgBrown;

    @include flexCenter;

    .winningMsgArea {
      @include flexCenter;

      gap: 8px;
    }
  }

  .bottom {
    display: flex;

    flex-direction: column;

    gap: 20px;

    justify-content: flex-start;

    padding: 24px 24px 80px;

    background-color: $white;
    border-radius: 32px 32px 0 0;

    .endVoteWrapper {
      @include flexColumnCenter;

      gap: 4px;

      // padding: 24px 24px 0 24px;

paddingpadding

paddingpadding

paddingpadding

paddingpadding

      border-radius: 24px 24px 0;paddingpaddingpaddingpaddingpaddingpaddingborder-radiuspaddingpaddingpaddingpaddingborder-radiuspaddingpaddingpaddingpaddingborder-radiuspaddingpaddingborder-radiuspaddingpaddingborder-radiusborder-radiusborder-radius
    }
  }
}

.winStoreCardContainer {
  gap: 12px;

  width: 100%;

  @include flexColumnStart;

  .titleArea {
    @include flexColumnStart;

    gap: 8px;

    .storeName {
      font-size: $textTitle;
      font-weight: $bold;
      line-height: 150%;
      color: $textTitleColor;
    }

    .menuName {
      font-size: $textLarge;
      font-weight: $medium;
      line-height: 150%;
      color: $textTitleGray;
    }
  }
}

/* nav bar 위의 button */
.navUpperBtnContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $footer;

  display: flex;

  gap: 20px;

  justify-content: space-between;

  max-width: calc(410px - 48px);
  height: 60px;
  padding: 16px 24px 0;
  margin: 0 auto 60px;

  background-color: $white;

  .myVoteDoneBtn {
    width: 100%;
    height: 48px;

    font-size: $textLarge;
    font-weight: $semiBold;
    color: $white;
    letter-spacing: -0.025em;

    background: $primaryOrange;
    border: none;
    border-radius: 8px;
  }
}

.resultHeaderContainer {
  position: sticky;

  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 24px;

  background-color: $bgBrown;

  .logoTitle {
    font-family: NATS, sans-serif;
    font-size: $textTitle;
    font-weight: $regular;
    color: $primaryOrange;
  }

  .navBtnArea {
    @include flexCenter;

    gap: 16px;
  }
}

@import 'https://fonts.cdnfonts.com/css/nats';

.sharePageHeaderContainer {
  position: sticky;
  z-index: $header;

  display: flex;

  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 24px;

  background-color: $bgWhite;

  .logoTitle {
    font-family: NATS, sans-serif;
    font-size: $textTitle;
    font-weight: $regular;
    color: $primaryOrange;
  }

  .navBtnArea {
    @include flexCenter;

    gap: 16px;

    .profileContainer {
      position: relative;

      .profileIcon {
        cursor: pointer;
      }

      .dropdownMenu {
        position: absolute;
        right: 0;
        z-index: $dropDown;

        display: none;

        width: 140px;

        background-color: $white;
        border: 1px solid $gray300;
        border-radius: $radiusSmall;
        box-shadow: 0 4px 8px rgb(0 0 0 / 10%);

        .myPage {
          display: inline-block;

          height: 40px;

          @include flexCenter;

          font-size: $textMedium;
          font-weight: $medium;
          color: $textTitleColor;

          cursor: pointer;
        }

        .logout {
          display: inline-block;

          width: 100%;
          height: 40px;

          cursor: pointer;

          background-color: transparent;

          @include flexCenter;

          .logoutBtn {
            background-color: transparent;
          }

          .text {
            font-size: $textMedium;
            font-weight: $medium;
            color: $textTitleColor;
          }
        }
      }
    }
  }
}
