@import '@styles/variables/textSize';
@import '@styles/variables/fontWeight';
@import '@styles/variables/radius';

$button-transition:
  transform 0.1s ease,
  box-shadow 0.1s ease;

.button {
  font-size: $textLarge;
  font-weight: $semiBold;
  letter-spacing: -0.025em;

  border-radius: $radiusMedium;

  transition: $button-transition;

  &:active {
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%);

    transform: translateY(2px);
  }
}
