@import '@/styles/mixins/index.scss';
@import '@/styles/variables/radius.scss';
@import '@/styles/variables/colors.scss';

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: $bgBrown;

  .top {
    background-color: $bgBrown;

    .streamerWrapper {
      @include flexColumnStart;
      gap: 20px;

      padding: 16px 24px 40px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    padding: 24px 24px 80px 24px;

    background-color: $white;

    border-radius: 32px 32px 0 0;
  }
}

.btn {
  width: 100px;
  height: 60px;
}

// .liveFriendsContainer {
//   width: 88%;

//   margin: 0 auto;

//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: flex-start;

//   overflow: hidden;

//   p {
//     font-weight: 600;
//     font-size: 12px;
//   }
// }

.friendsList {
  width: 100%;
  height: auto;

  display: flex;
  gap: 16px;

  overflow: hidden;

  li {
    border: 1px solid $primaryOrange;
    border-radius: $radiusMedium;
  }
}

.categoryContainer {
  margin: 0 24px;
}

.categoriesList {
  display: flex;
  flex-direction: row;
  gap: 16px;

  overflow: hidden;

  li {
    width: 40px;
    border: 1px solid $primaryOrange;
  }
}
