@import '@/styles/mixins/index.scss';
@import '@/styles/variables/radius.scss';
@import '@/styles/variables/colors.scss';

.container {
  background-color: $bgBrown;

  .top {
    background-color: $bgBrown;
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    padding: 24px 24px 80px 24px;

    background-color: $white;

    border-radius: 32px 32px 0 0;
  }
}
