@import '@/styles/variables/colors';
@import '@/styles/variables/textSize';
@import '@/styles/variables/fontWeight';
@import '@/styles/variables/radius';

@mixin button-styles($background, $color, $border) {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 56px;

  font-size: $textLarge;
  color: $color;

  cursor: pointer;

  background-color: $background;
  border: $border;
  border-radius: $radiusMedium;
}

.container {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;
  min-height: 100vh;

  background-color: $bgWhite;
}

.wrapper {
  display: flex;

  flex-direction: column;

  gap: 120px;

  align-items: center;
  justify-content: center;

  width: 88%;
}

.logoTitleArea {
  display: flex;

  flex-direction: column;

  gap: 20px;

  align-items: center;
  justify-content: center;
}

.logoWrapper {
  display: flex;

  flex-direction: column;

  gap: 8px;

  align-items: center;
  justify-content: center;
}

.title {
  margin: 0;

  font-size: 36px;
  font-weight: $bold;
  color: $primaryOrange;
}

.subTitle {
  margin: 0;

  font-size: $textLarge;
  color: $textTitleColor;
}

.btnArea {
  display: flex;

  flex-direction: column;

  gap: 20px;

  align-items: center;
  justify-content: center;

  width: 100%;
}

.signupBtn {
  width: 100%;

  @include button-styles($primaryOrange, $white, none);

  font-weight: $semiBold;
}

.loginBtn {
  @include button-styles($white, $primaryOrange, 1px solid $primaryOrange);

  font-weight: $semiBold;
}
