/* primary color */
$primaryOrange: #ff6b00;
$primaryOrangeLight: #fdaf38;
$white: #fff;

/* secondary color */
$red: #e71d36;
$purple: #540d6e;
$mint: #2ec4b6;
$coral: #fa6050;
$lilac: #af47d2;
$yellow: #f5ed15;

/* text color */
$textTitleColor: #444444;
$textWhite: #ffffff;
$textContent: #5c5c5c;
$textSub-content: #747474;

/* icon svg color */
$iconColor: #444444;

/* buttons */
$btnSub: #ffefd6;
$btnFocus: #ff9900;
$btnHober: #ff9900b0;

/* input */
$inputBgColor: #ece6d9;
$placeholderColor: #979797;
$placeholderSize: 14px;

/* Etc.. */
$bgColor: #fffaf3;
$bgBrown: #1c0a00;
$bgWhite: #fff;

$border: #d6d6d6;
$borderDark: #747474;
$borderLight: #efefef;

/* gray */
$gray100: #f8f9fa;
$gray200: #efefef;
$gray300: #d6d6d6;
$gray400: #aeaeae;
$gray500: #a0a0a0;
$gray600: #747474;
$gray700: #5c5c5c;
$gray800: #444444;
$gray900: #2e2e2e;

/* blue */
$blue50: #e8f3ff;
$blue100: #c9e2ff;
$blue200: #90c2ff;
$blue300: #64a8ff;
$blue400: #4593fc;
$blue500: #3182f6;
$blue600: #2272eb;
$blue700: #1b64da;
$blue800: #1957c2;
$blue900: #194aa6;

/* red */
$red50: #fee;
$red100: #ffd4d6;
$red200: #feafb4;
$red300: #fb8890;
$red400: #f66570;
$red500: #f04452;
$red600: #e42939;
$red700: #d22030;
$red800: #bc1b2a;
$red900: #a51926;

/* orange */
$yellow50: #fff9db;
$yellow100: #fff3bf;
$yellow200: #ffec99;
$yellow300: #ffe066;
$yellow400: #ffd43b;
$yellow500: #fcc419;
$yellow600: #fab005;
$yellow700: #f59f00;
$yellow800: #f08c00;
$yellow900: #e67700;
