@import '@styles/variables/zIndex.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';

.container {
  position: relative;

  width: 100%;
}

.blur {
  position: fixed;
  top: 0;
  left: 0;
  z-index: $modal;

  width: 100%;
  height: 100%;

  background-color: rgb(0 0 0 / 20%);
  backdrop-filter: blur(2px);
}

.addressInputWrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: $modal + 1;

  width: 75%;
  max-width: 320px;
  padding: 20px;

  background: white;
  border: 1px solid #ddd;
  border-radius: $radiusMedium;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

  transition: all 1s ease;
  transform: translate(-50%, -50%);

  &.expanded {
    width: 75%;
    padding: 20px;

    background: white;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);

    transform: translate(-50%, -50%);
  }
}

.searchArea {
  display: flex;

  gap: 8px;

  align-items: center;
  justify-content: center;

  .addressInput {
    position: relative;

    flex-grow: 1;

    padding: 8px 12px;

    font-size: $textMedium;
    font-weight: $medium;
    color: $textTitleColor;

    border: none;
    border-bottom: 1px solid $gray400;

    &::placeholder {
      font-size: $textSmall;
      color: $placeholderColor;
    }

    &::after {
      position: absolute;
      bottom: 0;

      width: 100%;
      height: 2px;

      content: '';

      background: $primaryOrangeLight;
      border-bottom: 1px solid $gray200;

      transition: width 0.3s;
    }
  }

  .searchBtn {
    width: auto;
    height: auto;
    padding: 0;

    background-color: transparent;
  }
}

.searchItem {
  padding: 0;
}

.results {
  display: flex;

  flex-direction: column;

  gap: 16px;

  max-height: 280px;
  padding: 0;
  margin-top: 16px;
  overflow-y: auto;

  list-style: none;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  li {
    position: relative;

    cursor: pointer;

    &:not(:last-child)::after {
      position: absolute;
      bottom: -8px;
      left: 50%;

      width: 100%;

      content: '';

      border-bottom: 1px solid $gray200;

      transform: translateX(-50%);
    }

    &:hover {
      background: #f0f0f0;
    }
  }

  .resultText {
    font-size: $textMedium;
    font-weight: $medium;
    color: $textSub-content;
  }
}

.results::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

.searchResult {
  display: flex;

  flex-direction: column;

  gap: 8px;

  align-items: flex-start;
  justify-content: center;

  .storeName {
    font-size: $textMedium;
    font-weight: $medium;
    color: $textTitleColor;
  }
}

.loadNameArea {
  display: flex;

  gap: 6px;

  align-items: center;
  justify-content: flex-start;

  .badge {
    width: 30px;
    padding: 2px;

    font-size: $textXSmall;
    font-weight: $medium;
    color: $primaryOrangeLight;
    text-align: center;

    border: 1px solid $border;
    border-radius: $radiusSmall;
  }

  .loadName {
    margin-bottom: 2px;
    overflow: hidden;

    font-size: $textSmall;
    color: $textContent;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}
