@import '@styles/variables/zIndex.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';

.container {
  width: 100%;
  position: relative;
}

.blur {
  position: fixed;
  z-index: $modal;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.2);
}

.addressInputWrapper {
  position: fixed;
  z-index: $modal + 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s ease;

  width: 75%;
  max-width: 320px;

  padding: 20px;

  background: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

  border: 1px solid #ddd;

  border-radius: $radiusMedium;

  &.expanded {
    width: 75%;

    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.searchArea {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  .addressInput {
    flex-grow: 1;

    position: relative;

    padding: 8px 12px;

    border: none;
    border-bottom: 1px solid $gray400;

    font-size: $textMedium;
    font-weight: $medium;
    color: $textTitleColor;

    &::placeholder {
      color: $placeholderColor;
      font-size: $textSmall;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;

      background: $primaryOrangeLight;
      border-bottom: 1px solid $gray200;

      transition: width 0.3s;
    }
  }

  .searchBtn {
    width: auto;
    height: auto;

    padding: 0;

    background-color: transparent;
  }
}

.searchItem {
  padding: 0;
}

.results {
  max-height: 280px;

  margin-top: 16px;
  padding: 0;

  overflow-y: auto;
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 16px;

  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  li {
    position: relative;
    cursor: pointer;

    &:not(:last-child)::after {
      content: '';
      width: 100%;

      position: absolute;
      bottom: -8px;
      left: 50%;
      transform: translateX(-50%);

      border-bottom: 1px solid $gray200;
    }

    &:hover {
      background: #f0f0f0;
    }
  }

  .resultText {
    font-size: $textMedium;
    font-weight: $medium;
    color: $textSub-content;
  }
}

.results::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.searchResult {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 8px;

  .storeName {
    font-size: $textMedium;
    font-weight: $medium;
    color: $textTitleColor;
  }
}

.loadNameArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 6px;

  .badge {
    width: 30px;

    border: 1px solid $border;
    border-radius: $radiusSmall;

    padding: 2px;

    color: $primaryOrangeLight;
    font-size: $textXSmall;
    font-weight: $medium;
    text-align: center;
  }

  .loadName {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    margin-bottom: 2px;

    font-size: $textSmall;
    color: $textContent;
  }
}
