@import '@/styles/variables/colors.scss';

.container {
  width: 40px;
  height: 40px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: inherit;

  img {
    fill: $iconColor;
  }
}
