@import '@/styles/variables/colors.scss';
@import '@/styles/variables/textSize.scss';
@import '@/styles/variables/fontWeight.scss';
@import '@/styles/variables/zIndex.scss';

.container {
  position: sticky;
  z-index: $header;
  top: 0;
  left: 0;
  right: 0;

  padding: 0 24px;
  height: 60px;
  margin: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: $bgWhite;
}

.wrapper {
  width: 100%;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 16px;

  img {
    background-color: transparent;
  }

  button {
    background-color: transparent;

    cursor: pointer;
  }
}

.headerTitle {
  margin: 0;

  font-size: $textTitle;
  font-weight: $semiBold;

  color: $gray800;
}
