@import '@/styles/variables/colors';
@import '@/styles/variables/textSize';
@import '@/styles/variables/fontWeight';
@import '@/styles/variables/zIndex';

.container {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header;

  display: flex;

  flex-direction: row;

  align-items: center;
  justify-content: center;

  height: 60px;
  padding: 0 24px;
  margin: 0;

  background-color: $bgWhite;
}

.wrapper {
  display: flex;

  gap: 16px;

  align-items: center;
  justify-content: flex-start;

  width: 100%;

  img {
    background-color: transparent;
  }

  button {
    cursor: pointer;

    background-color: transparent;
  }
}

.headerTitle {
  margin: 0;

  font-size: $textTitle;
  font-weight: $semiBold;
  color: $gray800;
}
