@import '@styles/mixins/index.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';

.mainPageContainer {
  background-color: $white;

  .categoriesWrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 8px;
    row-gap: 4px;

    .category {
      @include flexCenter;
      gap: 4px;

      .categoryBtn {
        flex: 1;
      }

      .categoryText {
        @include flexCenter;

        color: $iconTextColor;
        font-size: $textSmall;
        font-weight: $semiBold;
        letter-spacing: 0.3px;

        &.categoryText.active {
          color: #000; /* Adjust $primaryColor to your desired active color */
        }
      }
    }
  }

  .categoryBtn {
    padding: 4px;

    background-color: $white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: $radiusMedium;
  }

  .categoryText {
    width: auto;
    white-space: nowrap;
    font-size: $textXSmall;
    color: $textSub-content;
  }
}

.writePageContainer {
  background-color: $bgColor;

  .title {
    color: $textTitleColor;
    font-size: $textMedium;
    font-weight: $medium;
  }

  .categoriesWrapper {
    width: 100%;

    padding-top: 4px;

    display: flex;
    flex-direction: row;
    gap: 4px;

    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */

    &::-webkit-scrollbar {
      display: none; /* Safari and Chrome */
    }

    li {
      position: relative;

      background-color: $white;

      display: flex;
      justify-content: center;
      align-items: center;

      border-radius: $radiusMedium;

      &:nth-child(1) {
        border: 1.5px solid $red;
      }
      &:nth-child(2) {
        border: 1.5px solid $purple;
      }
      &:nth-child(3) {
        border: 1.5px solid $mint;
      }
      &:nth-child(4) {
        border: 1.5px solid $yellow;
      }
      &:nth-child(5) {
        border: 1.5px solid $lilac;
      }
      &:nth-child(6) {
        border: 1.5px solid $gray600;
      }
      &:nth-child(7) {
        border: 1.5px solid $coral;
      }

      p {
        font-size: $textXSmall;
      }
    }
  }

  .active {
    &::after {
      content: '';

      position: absolute;

      width: 12px;
      height: 12px;

      top: -4px;
      right: -4px;

      border-radius: 50%;
      background-color: $primaryOrange;
    }
  }

  .categoryBtn {
    padding: 4px;

    background-color: $white;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    border-radius: $radiusMedium;
  }

  .categoryText {
    width: auto;
    white-space: nowrap;
    font-size: $textXSmall;
    color: $textSub-content;
  }
}
