@import '@styles/variables/colors.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/zIndex.scss';
@import '@styles/variables/radius.scss';

@media (min-width: 375px) {
  .container {
    max-width: 410px;

    margin: 0 auto;
  }
}

.container {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $footer;

  height: 60px;
  box-sizing: border-box;

  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;

  background-color: $white;

  border: 0.5px solid #e6e6ea;
  box-shadow: 2px 0px 6px rgba(51, 61, 75, 0.15);

  .wrapper {
    width: 52px;
    height: 52px;

    display: flex;
    justify-content: center;
    align-items: center;

    &:nth-child(3) {
      min-width: 52px;
      min-height: 52px;
      border-radius: $circle;
      background-color: $primaryOrange;
    }

    .iconArea {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 4px;

      .text {
        color: $iconTextColor;
        font-size: $textXSmall;
        font-weight: $regular;
      }
    }
  }
}
