@import '@styles/variables/colors';
@import '@styles/variables/textSize';
@import '@styles/variables/fontWeight';
@import '@styles/variables/zIndex';
@import '@styles/variables/radius';

@media (width >= 375px) {
  .container {
    max-width: 410px;
    margin: 0 auto;
  }
}

.container {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $footer;

  box-sizing: border-box;
  display: flex;

  gap: 24px;

  align-items: center;
  justify-content: space-between;

  height: 60px;
  padding: 0 24px;

  background-color: $white;
  border: 0.5px solid #e6e6ea;
  box-shadow: 2px 0 6px rgb(51 61 75 / 15%);

  .wrapper {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 52px;
    height: 52px;

    &:nth-child(3) {
      min-width: 52px;
      min-height: 52px;

      background-color: $primaryOrange;
      border-radius: $circle;
    }

    .iconArea {
      display: flex;

      flex-direction: column;

      gap: 4px;

      align-items: center;
      justify-content: center;

      width: 100%;
      height: 100%;

      .text {
        font-size: $textXSmall;
        font-weight: $regular;
        color: $iconTextColor;
      }
    }
  }
}
