@import url('https://fonts.cdnfonts.com/css/nats');
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/zIndex.scss';
@import '@styles/mixins/index.scss';

.container {
  position: sticky;

  padding: 0 24px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bgBrown;

  .logoTitle {
    color: $primaryOrange;
    font-family: 'NATS', sans-serif;
    font-size: $textTitle;
    font-weight: $regular;
  }

  .navBtnArea {
    @include flexCenter;
    gap: 16px;
  }
}

.profileArea {
  width: 40px;
  height: 40px;

  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid $primaryOrange;
  border-radius: $radiusMedium;
}
