@import '@styles/variables/colors.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';

.title {
  margin: 0 0 16px 0;

  font-size: $textLarge;
  font-weight: $bold;
}

.cardsContainer {
  width: 100%;

  display: flex;

  gap: 12px;

  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  -webkit-overflow-scrolling: touch; // 모바일에서 자연스러운 스크롤을 위해
}

.cardContainer {
  padding: 3px;

  display: flex;
  flex-direction: row;

  background: #fff6ea;
  border-radius: 4px;
}

.cardWrapper {
  flex: none;
  order: 0;
  flex-grow: 0;

  width: 77px;
  border: 1px solid #747474;

  padding: 6px;

  background: #fff6ea;
  border-radius: 4px;
}

.storeName {
  text-align: center;

  letter-spacing: -0.03rem;
  color: $textContent;
  font-size: $textMedium;
  font-weight: $medium;

  /* for ellipsis */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.postDetailsArea {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  margin-top: 6px;

  p {
    letter-spacing: -0.01rem;
    font-size: 10px;
    font-weight: $medium;
    color: $textSub-content;
  }
}

.postsWrapper {
  padding: 12px 24px;

  background-color: $white;

  border-top: 1px solid $gray300;
  border-bottom: 1px solid $gray300;
}
