@import '@styles/variables/colors.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/mixins/index.scss';

.titleArea {
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 10px;
}

.title {
  color: $textTitleColor;

  font-size: $textLarge;
  font-weight: $bold;

  margin: 0;
}

.cardsContainer {
  display: flex;
  flex-direction: column;

  gap: 24px;

  overflow-x: auto;
  white-space: nowrap;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */

  &::-webkit-scrollbar {
    display: none; /* Safari and Chrome */
  }

  -webkit-overflow-scrolling: touch; // 모바일에서 자연스러운 스크롤을 위해
}

.cardContainer {
  width: 100%;

  display: flex;
  flex-direction: row;

  border-radius: 4px;

  .cardWrapper {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;

    border-radius: 4px;

    .postDetailsArea {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 6px;

      p {
        letter-spacing: -0.03em;
        line-height: 150%;
      }

      .storeName {
        color: $cardTitleColor;
        font-size: $textLarge;
        font-weight: $semiBold;

        @include ellipseOneLine;
      }

      .subDetailsArea {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;

        .menuName {
          color: $cardSubContentColor;
          font-size: $textMedium;
          font-weight: $regular;
        }

        .createDate {
          color: $cardSubContentColor;
          font-size: $textSmall;
          font-weight: $regular;
        }
      }
    }
  }
}

.postsWrapper {
  padding: 12px 24px;

  background-color: $white;

  border-top: 1px solid $gray300;
  border-bottom: 1px solid $gray300;
}
