@import '@styles/mixins/index.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';

.cardsContainer {
  display: grid;

  margin-top: 16px;

  grid-template-columns: repeat(3, 1fr);
  column-gap: 16px;
  row-gap: 12px;
}

.container {
  @include flexCenter;

  padding: 8px;

  background-color: $white;

  border: 2px solid $borderDark;
  border-radius: $radiusMedium;

  .linkArea {
    width: 100%;
    height: 100%;
    @include flexCenter;
    cursor: pointer;
  }

  .wrapper {
    flex-grow: 1;

    @include flexColumnCenter;
    gap: 10px;

    .storeInfoArea {
      width: 100%;
      @include flexColumnStart;
      gap: 8px;

      .storeName {
        color: $textTitleColor;
        font-size: $textSmall;
        font-weight: $semiBold;
      }
    }
    .storePostCount {
      width: calc(100% - 8px);
      padding: 4px;

      background-color: $yellow300;

      border: 1.5px solid $border;
      border-radius: $radiusSmall;

      color: $textTitleColor;
      font-size: $textSmall;
      font-weight: $semiBold;
    }
  }
}

/* [Before 개표] 투표에 추가된 가게들 */
.votedStoresContainer {
  @include flexColumnCenter;
  gap: 8px;

  width: 100%;
}

.votedStoreCardWrapper {
  width: 100%;
  height: 56px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .storeName {
    flex: 1;
    color: $textTitleColor;
    font-size: $textMedium;
    font-weight: $medium;
  }

  .addVoteBtn {
    width: 100%;
    height: 40px;

    margin-top: 12px;

    border: none;
    border-radius: 8px;

    background-color: $blue600;
    color: $white;
    font-size: $textSmall;
    font-weight: $medium;
  }

  .deleteVoteBtn {
    width: 100%;
    height: 40px;

    margin-top: 12px;

    border: none;
    border-radius: 8px;

    background-color: $red600;

    color: $white;
    font-size: $textSmall;
    font-weight: $medium;
  }
}

.votableCardsContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 12px;
  row-gap: 16px;

  .votableStoreCardContainer {
    opacity: 0.65;

    .voteWrapperBtn {
      width: 100%;
      background-color: transparent;

      @include flexColumnStart;
      gap: 12px;
    }

    .storeInfoArea {
      @include flexColumnStart;
      gap: 8px;

      .storeName {
        color: $textTitleGray;
        font-size: $textMedium;
        font-weight: $semiBold;
      }

      .menuName {
        color: $textSub-content;
        font-size: $textSmall;
        font-weight: $regular;
      }
    }
  }
}
