@import '@styles/variables/colors.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/radius.scss';

.circleIcon {
  // width: 56px;
  // height: 56px;

  background-color: transparent;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 3px;

  border: 1.5px solid $primaryOrange;
  border-radius: 50%;

  cursor: pointer;

  img {
    background-color: pink;
    border-radius: 50%;
  }
}

.squareIcon {
  background-color: transparent;

  border: 1px solid $primaryOrange;
  border-radius: $radiusMedium;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.withtextIconContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 4px;

  .smallName {
    color: $white;
    font-size: $textSmall;
    font-weight: $medium;
  }

  .mediumName {
    color: $white;
    font-size: $textMedium;
    font-weight: $medium;
  }

  .largeName {
    color: $white;
    font-size: $textMedium;
    font-weight: $medium;
  }
}
