@import '@styles/mixins/index';
@import '@styles/variables/zIndex';
@import '@styles/variables/colors';
@import '@styles/variables/fontWeight';
@import '@styles/variables/textSize';
@import '@styles/variables/radius';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $modal;

  background: rgb(0 0 0 / 70%);
  backdrop-filter: blur(3px);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: $modal;

  box-sizing: border-box;

  width: 320px;
  padding: 24px 24px 64px;

  background: linear-gradient(
    180deg,
    rgb(188 188 188 / 85%) 0%,
    rgb(150 150 150 / 65%) 100%
  );
  border: 1px solid $gray300;
  border-radius: $radiusMedium;

  transform: translate(-50%, -50%);

  .modalWrapper {
    .closeButton {
      position: absolute;
      top: 20px;
      left: 20px;

      cursor: pointer;

      background-color: transparent;
    }

    .contentArea {
      gap: 32px;

      width: 100%;
      margin-top: 40px;

      @include flexColumnCenter;

      .titleArea {
        @include flexColumnCenter;

        gap: 12px;

        .subTitle {
          font-size: $textSmall;
          font-weight: $regular;
          color: $textSub-content;
        }
      }

      .urlBox {
        padding: 12px 24px;

        font-size: $textLarge;
        font-weight: $regular;
        color: $white;
        text-align: center;

        cursor: pointer;

        background-color: $mint;
        border: 0.5px solid $gray400;
        border-radius: $radiusMedium;
        box-shadow: 0 2px 4px rgb(0 0 0 / 10%);
      }

      .shareButton {
        @include flexCenter;

        gap: 4px;

        width: 100%;
        height: 56px;

        cursor: pointer;

        background: #ffe812;
        border: none;
        border-radius: $radiusMedium;

        .shareText {
          font-size: $textSmall;
          font-weight: $medium;
          color: $textContent;
        }
      }
    }
  }
}
