@import '@styles/mixins/index.scss';
.container {
  @include mainStyle;
}

.btnArea {
  display: flex;
  gap: 20px;

  button {
    width: 100%;
    height: 40px;
    border: 1px solid $primaryOrange;
  }
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;

  button {
    width: 100%;
    height: 40px;
    border: 1px solid $primaryOrange;
  }

  input {
    width: 100%;
    height: 40px;
    border: 1px solid $primaryOrange;
  }
}
