@import '@/styles/variables/colors.scss';
@import '@/styles/variables/textSize.scss';
@import '@/styles/variables/fontWeight.scss';
@import '@/styles/variables/zIndex.scss';

.container {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header;

  display: flex;

  align-items: center;
  justify-content: center;

  height: 60px;
  padding: 0 24px;
  margin: 0;

  background-color: $bgWhite;
}

.left {
  position: absolute;
  left: 24px;

  button {
    padding: 0;
  }
}

.center {
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
}

.right {
  position: absolute;
  right: 24px;

  button {
    padding: 0;
  }
}
