@import '@styles/variables/colors';
@import '@styles/variables/radius';
@import '@styles/variables/fontWeight';
@import '@styles/variables/textSize';
@import '@styles/mixins/index';

.container {
  display: flex;

  flex-direction: column;

  gap: 8px;

  .inputBoxs {
    box-sizing: border-box;

    width: 100%;
    padding: 16px 0;

    font-size: $textMedium;
    font-weight: $medium;
    color: $inputTextColor;
    letter-spacing: -0.025em;

    background-color: transparent;
    border: none;
    border-bottom: 1px solid $inputBorderColor;

    &::placeholder {
      font-size: $placeholderSize;
      font-weight: $medium;
      color: $placeholderColor;
    }
  }

  .label {
    font-size: $textMedium;
    font-weight: $medium;
    color: $inputTextColor;
    letter-spacing: -0.025em;
  }

  .fileInputBox {
    display: none;
  }

  .fileLabel {
    position: relative;

    box-sizing: border-box;

    gap: 4px;

    width: 80px;
    height: 80px;

    font-size: $placeholderSize;
    color: $placeholderColor;

    cursor: pointer;

    background-color: transparent;
    border: 1px solid $inputBorderColor;
    border-radius: $radiusMedium;

    @include flexColumnCenter;

    .labelText {
      font-size: $textSmall;
      font-weight: $medium;
      line-height: 150%;
      color: $placeholderColor;
    }
  }

  .reviewInput {
    width: 100%;
    height: auto;
    min-height: 120px;
    padding: 16px 0;
    overflow: hidden;

    font-size: $textMedium;
    font-weight: $medium;
    color: $inputTextColor;
    letter-spacing: -0.025em;

    resize: none;

    background-color: transparent;
    border: none;

    &::placeholder {
      font-size: $placeholderSize;
      font-weight: $medium;
      color: $placeholderColor;
    }

    &:focus {
      outline: none;
    }
  }
}
