@import '@styles/variables/zIndex.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/mixins/index.scss';

$iconHeight: 20px;

@media (min-width: 375px) {
  .container {
    max-width: calc(410px - 48px);
    margin: 0 auto;
  }
}

.container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $header;

  display: flex;

  align-items: center;
  justify-content: space-between;

  padding: 12px 24px;

  background-color: transparent;
  backdrop-filter: blur(3px);

  .streamerInfoArea {
    @include flexCenter;
    gap: 8px;

    .streamerName {
      display: inline-block;

      font-size: $textSmall;
      font-weight: $medium;
      color: $white;
      white-space: nowrap;
    }
  }

  .buttonsWrapper {
    @include flexCenter;
    gap: 8px;

    .liveEndBtn {
      @include flexCenter;

      box-sizing: content-box;

      height: $iconHeight;
      padding: 4px 6px;

      font-size: $textSmall;
      font-weight: $medium;
      color: $white;

      background-color: $red600;
      border: none;
      border-radius: $radiusSmall;
    }

    .switchCameraBtn {
      @include flexCenter;

      box-sizing: content-box;

      height: $iconHeight;
      padding: 4px 6px;

      font-size: $textSmall;
      font-weight: $medium;
      color: $white;

      background-color: $blue600;
      border: none;
      border-radius: $radiusSmall;
    }
    // }

    .leaveLiveBtn {
      background-color: transparent;
    }

    .liveFlagBox {
      height: $iconHeight;
      padding: 4px 6px;

      background: linear-gradient(90deg, #d22d2d 0%, #ef5f00 50%, #e8a700 100%);
      border: none;
      border-radius: $radiusSmall;

      @include flexCenter;

      .liveFlagText {
        font-size: $textSmall;
        font-weight: $medium;
        color: $white;
      }
    }
  }

  /* 시청자 수 Box */
  .viewerCountArea {
    display: inline-block;

    gap: 6px;

    height: $iconHeight;
    padding: 4px 6px;

    background-color: $gray900;
    border: none;
    border-radius: $radiusSmall;

    @include flexCenter;

    .viewersCount {
      font-size: $textSmall;
      font-weight: $medium;
      color: $white;
    }
  }
}
