@import '@styles/mixins/index';
@import '@styles/variables/zIndex';
@import '@styles/variables/colors';

.writeNavBar {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $footer;

  gap: 20px;

  height: 60px;
  padding: 16px 24px;

  background-color: $bgWhite;

  @include flexCenter;
}

@media (width >= 375px) {
  .writeNavBar {
    max-width: calc(410px - 48px);
    margin: 0 auto;
  }
}
