@import '@styles/mixins/index.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/zIndex.scss';

.container {
  width: 100%;

  background-color: $writeBgColor;

  .wrapper {
    position: relative;

    padding: 16px 24px 96px 24px;

    display: flex;
    flex-direction: row;

    .formContainer {
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 20px;

      margin-bottom: 20px;

      .storeDetails {
        @include flexColumnStart;
        gap: 12px;

        .storeName {
          color: $inputTextColor;
          font-size: $textMedium;
          font-weight: $medium;
          line-height: 150%;
          letter-spacing: -0.05em;
        }

        .storeAddress {
          color: $inputTextColor;
          font-size: $textMedium;
          font-weight: $medium;
          line-height: 150%;
          letter-spacing: -0.05em;
        }
      }

      .imageArea {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 14px;
      }

      .writeNavBar {
        position: fixed;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: $footer;

        height: 60px;

        padding: 16px 24px;

        background-color: $bgWhite;

        @include flexCenter;
        gap: 20px;

        @media (min-width: 375px) {
          max-width: calc(410px - 48px);
        }

        .addMenuBtn {
          width: 100%;
          height: 48px;

          background-color: $bgWhite;

          border: 1px solid $primaryOrange;
          border-radius: $radiusMedium;

          color: $primaryOrange;
          font-size: $textLarge;
          font-weight: $semiBold;
        }

        .submitBtn {
          width: 100%;
          height: 48px;

          background-color: $primaryOrange;

          border-radius: $radiusMedium;

          color: $white;
          font-size: $textLarge;
          font-weight: $semiBold;
        }
      }
    }
  }
}

.disableInteraction {
  pointer-events: none;
  opacity: 0.5;
}

.pageControlBtn {
  height: 80%;

  background-color: transparent;

  margin: auto 0;
}

.deleteAdditionalMenuBtn {
  position: absolute;
  top: 10px;
  right: 10px;
}

.imgs {
  @include flexCenter;
  gap: 8px;
}

@media (min-width: 375px) {
  .writeNavBar {
    max-width: 410px;
    height: 100dvh;

    margin: 0 auto;
  }
}
