@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/zIndex.scss';
@import '@styles/mixins/index.scss';

.startVoteContainer {
  background-color: $white;

  @include flexColumnStart;
  gap: 24px;

  .userContainer {
    width: auto;

    padding: 0 24px;
    @include flexRowStart;
    gap: 8px;

    .votingUsers {
      width: 60px;
      height: 106px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
    }
  }

  .startVoteWrapper {
    width: calc(100% - 48px);

    padding: 0 24px 140px 24px;
  }
}

/* nav bar 위의 button */
.navUpperBtnContainer {
  position: fixed;
  z-index: $footer;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: calc(410px - 48px);
  height: 60px;

  margin: 0 auto 60px;
  padding: 16px 24px 0 24px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  background-color: $white;

  .myVoteDoneBtn {
    width: 100%;
    height: 48px;
    background: $primaryOrange;
    border: none;
    border-radius: 8px;

    color: $white;
    font-size: $textLarge;
    font-weight: $semiBold;
    letter-spacing: -0.025em;
  }
}
