@import '@styles/variables/colors.scss';
@import '@styles/variables/zIndex';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/mixins/index.scss';

$tabDiff: 32px;

.container {
  overflow: auto;

  background-color: $bgWhite;

  .searchResultWrapper {
    margin: 0 16px;
  }
}

.tabWrapper {
  width: 100%;

  .tabBtnArea {
    position: fixed;
    z-index: $header;

    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 410px;
    height: $tabDiff;

    background-color: $bgBrown;

    .tab {
      position: relative;

      width: 100%;
      height: 100%;

      font-size: $textMedium;
      font-weight: $regular;
      color: $white;

      background-color: transparent;

      &.active {
        color: $white;

        &::after {
          position: absolute;
          bottom: 4px;
          left: 50%;

          width: 50%;
          height: 2px;

          content: '';

          background-color: $yellow900;
          border-radius: 2px;

          transform: translateX(-50%);
        }
      }
    }
  }

  .searchArea {
    display: flex;

    align-items: center;
    justify-content: center;

    padding: calc($tabDiff + 8px) 24px 16px;
    padding-top: $tabDiff;

    background-color: $bgBrown;
    border-radius: 0 0 $radiusLarge $radiusLarge;
    box-shadow: 2px 1px 6px rgb(51 61 75 / 15%);

    .searchForm {
      gap: 4px;

      width: 100%;
      height: 100%;
      padding: 0 8px 0 16px;

      background-color: $white;
      border: 0.5px solid $gray300;
      border-radius: $radiusSmall;
      box-shadow: 0 2px 4px rgb(51 61 75 / 10%);

      @include flexCenter;

      .searchInput {
        width: 100%;
        height: 28px;

        font-size: $textSmall;
        color: $textTitleColor;

        background-color: transparent;
        border: none;

        &::placeholder {
          color: $textSub-content;
        }
      }

      .submitBtn {
        background-color: transparent;

        @include flexCenter;
      }
    }
  }
}
