@import '@styles/variables/zIndex.scss';
@import '@styles/variables/boxSize.scss';
@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/mixins/index.scss';

.selectContainer {
  width: 100%;

  font-size: 16px;

  .selectButton {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 48px;
    padding: 0;
    padding-right: 12px;

    cursor: pointer;

    background-color: transparent;

    .selectText {
      font-size: $textMedium;
      font-weight: $medium;
      line-height: 150%;
      color: $inputTextColor;
    }
  }

  .modalOverlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: $modal;

    display: flex;

    align-items: flex-end;
    justify-content: center;

    width: 100%;
    max-width: $kkkkkkkkraftonMaxWidth;
    margin: 0 auto;

    scrollbar-width: none;

    background-color: rgba(0, 0, 0, 0.5);

    animation: fadeIn 0.2s;

    &::-webkit-scrollbar {
      display: none;
    }

    .modalContent {
      width: 100%;
      max-height: 50%;
      padding: 24px 24px 0 24px;
      overflow-y: auto;

      background-color: $white;
      border-radius: 20px 20px 0 0;

      animation: slideUp 0.2s;

      .modalTitleArea {
        display: flex;

        align-items: center;
        justify-content: space-between;

        margin-bottom: 16px;

        .modalCloseBtn {
          background-color: transparent;
        }
      }

      .option {
        width: 100%;
        height: 56px;

        cursor: pointer;

        background-color: transparent;
        border: none;

        @include flexRowStart;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}
