@import '@styles/variables/colors.scss';

@mixin mainStyle {
  width: 100%;
  height: 100%;

  background-color: $bgColor;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
