@import '@styles/variables/colors.scss';

@mixin mainStyle {
  width: 100%;
  height: 100%;

  background-color: $bgColor;
}

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexRowStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin BorderRainbow {
  border: 1.5px solid transparent;
  border-radius: $radiusMedium;
  background-image: linear-gradient($white, $white),
    linear-gradient(
      to bottom right,
      red,
      orange,
      yellow,
      green,
      blue,
      indigo,
      violet
    );
  background-origin: border-box;
  background-clip: padding-box, border-box;
}
