@import '@styles/variables/colors.scss';
@import '@styles/variables/radius.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/zIndex.scss';
@import '@styles/mixins/index.scss';

.addVoteContainer {
  position: relative;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;

  background: $bgWhite;

  .top {
    position: relative;
    width: 100%;

    .map {
      position: relative;

      width: 100%;
      height: 480px;
    }

    .userContainer {
      position: absolute;
      z-index: 1;
      bottom: 64px;
      left: 24px;

      width: auto;

      @include flexCenter;
      gap: 16px;
    }
  }

  .bottom {
    position: absolute;
    top: 424px;
    right: 0;
    left: 0;
    z-index: 1;
    overflow: hidden;

    padding: 24px 24px 152px;

    background-color: $white;
    border-radius: 24px 24px 0;

    .navUpperBtnContainer {
      position: fixed;
      z-index: $footer;
      bottom: 0;
      left: 0;
      right: 0;

      max-width: calc(410px - 48px);
      height: 60px;

      margin: 0 auto 60px;
      padding: 16px 24px 0 24px;

      display: flex;
      justify-content: space-between;
      gap: 20px;

      background-color: $white;

      .startVoteBtn {
        width: 100%;
        height: 48px;
        background: $primaryOrange;
        border: none;
        border-radius: 8px;

        color: $white;
        font-size: $textLarge;
        font-weight: $semiBold;
        letter-spacing: -0.025em;
      }

      .addVoteListBtn {
        width: 100%;
        height: 48px;
        background: $white;
        border: 1px solid $primaryOrange;
        border-radius: 8px;

        color: $primaryOrange;
        font-size: $textLarge;
        font-weight: $semiBold;
        letter-spacing: -0.025em;
      }
    }
  }
}

/* [befroe 개표] */
.startVoteContainer {
  background-color: $white;

  @include flexColumnStart;
  gap: 24px;

  .userContainer {
    width: auto;

    padding: 0 24px;
    @include flexRowStart;
    gap: 8px;

    .votingUsers {
      width: 60px;
      height: 106px;

      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: center;
      gap: 4px;
    }
  }

  .startVoteWrapper {
    width: calc(100% - 48px);

    padding: 0 24px 140px 24px;
  }
}

/* 투표 종료 (우승 가게 페이지) */

.winStoreCardAnchor {
  width: 100%;
}

.endVoteContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;

  background-color: $bgBrown;

  .top {
    height: 200px;
    background-color: $bgBrown;

    @include flexCenter;

    .winningMsgArea {
      @include flexCenter;
      gap: 8px;
    }
  }

  .bottom {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;

    padding: 24px 24px 80px 24px;

    background-color: $white;

    border-radius: 32px 32px 0 0;

    .endVoteWrapper {
      @include flexColumnCenter;
      gap: 4px;

      // padding: 24px 24px 0 24px;

      border-radius: 24px 24px 0;
    }
  }
}

/* nav bar 위의 button */
.navUpperBtnContainer {
  position: fixed;
  z-index: $footer;
  bottom: 0;
  left: 0;
  right: 0;

  max-width: calc(410px - 48px);
  height: 60px;

  margin: 0 auto 60px;
  padding: 16px 24px 0 24px;

  display: flex;
  justify-content: space-between;
  gap: 20px;

  background-color: $white;

  .myVoteDoneBtn {
    width: 100%;
    height: 48px;
    background: $primaryOrange;
    border: none;
    border-radius: 8px;

    color: $white;
    font-size: $textLarge;
    font-weight: $semiBold;
    letter-spacing: -0.025em;
  }
}

.resultHeaderContainer {
  position: sticky;

  padding: 0 24px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bgBrown;

  .logoTitle {
    color: $primaryOrange;
    font-family: 'NATS', sans-serif;
    font-size: $textTitle;
    font-weight: $regular;
  }

  .navBtnArea {
    @include flexCenter;
    gap: 16px;
  }
}

@import url('https://fonts.cdnfonts.com/css/nats');

.sharePageHeaderContainer {
  position: sticky;
  z-index: $header;

  padding: 0 24px;
  height: 60px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: $bgWhite;

  .logoTitle {
    color: $primaryOrange;
    font-family: 'NATS', sans-serif;
    font-size: $textTitle;
    font-weight: $regular;
  }

  .navBtnArea {
    @include flexCenter;
    gap: 16px;

    .profileContainer {
      position: relative;

      .profileIcon {
        cursor: pointer;
      }

      .dropdownMenu {
        display: none;

        position: absolute;
        z-index: $dropDown;
        right: 0;

        width: 140px;

        background-color: $white;

        border: 1px solid $gray300;
        border-radius: $radiusSmall;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

        .myPage {
          display: inline-block;
          height: 40px;

          @include flexCenter;

          font-size: $textMedium;
          font-weight: $medium;
          color: $textTitleColor;

          cursor: pointer;
        }

        .logout {
          display: inline-block;

          width: 100%;
          height: 40px;

          @include flexCenter;

          background-color: transparent;

          cursor: pointer;

          .logoutBtn {
            background-color: transparent;
          }
          .text {
            font-size: $textMedium;
            font-weight: $medium;
            color: $textTitleColor;
          }
        }
      }
    }
  }
}
