@import '@styles/variables/colors.scss';
@import '@styles/variables/textSize.scss';
@import '@styles/variables/fontWeight.scss';
@import '@styles/variables/radius.scss';

.btn {
  width: 100%;
  height: 48px;

  background-color: $primaryOrange;
  color: $white;

  font-size: $textLarge;
  font-weight: $semiBold;

  border: 1px solid $primaryOrange;
  border-radius: $radiusMedium;

  cursor: pointer;

  &:hover {
    background-color: $btnHober;
  }
}
